body{
    background: aquamarine;
}
h1{
    background-color: blueviolet;
    color:blue;
    max-width: 200px;
    text-align: center;
    border: 2px solid;
}
h2{
    color: red;
}
p{
   color: brown;
}
li{
    color:blueviolet;
}
a{
    color: black;
}
